<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>

<h1> Détails d'un todo </h1>

<hr>

<p>Id : <span th:text="${id}"></span></p>
<p>Name : <span th:text="${name}"></span></p>
<p>Description : <span th:text="${description}"></span></p>
<p>Status : <span th:text="${status}"></span></p>

<hr>

<p>Id : <span th:text="${todo.getId()}"></span></p>
<p>Name : <span th:text="${todo.getName()}"></span></p>
<p>Description : <span th:text="${todo.getDescription()}"></span></p>
<p th:if="${todo.isDone()}"> Status : fini</p>
<p th:if="${!todo.isDone()}"> Status : en cours</p>

<hr>

</body>
</html>